services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile_jenkins
    container_name: jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - ../jenkins_home:/var/jenkins_home
    networks:
      deploy-network:
        ipv4_address: 172.32.0.2  # Assign a static IP to Jenkins

  client_container:
    build:
      context: .
      dockerfile: Dockerfile_deploy_client
    container_name: Client_container
    ports:
      - "4200:4200"
      - "2222:22"
    networks:
      deploy-network:
        ipv4_address: 172.32.0.3  # Assign a static IP to client container
    command: ["/bin/bash", "-c", "/usr/sbin/sshd && /bin/bash"]
    tty: true
    stdin_open: true

  server_container:
    build:
      context: .
      dockerfile: Dockerfile_deploy_server
    container_name: Server_container
    ports:
      - "5000:5000"
      - "2223:22"
    networks:
      deploy-network:
        ipv4_address: 172.32.0.4 # Assign static IP to server container
    command: ["/bin/bash", "-c", "/usr/sbin/sshd && /bin/bash"]
    tty: true
    stdin_open: true

  mongodb_container:
    image: mongo:8.2.1
    container_name: MongoDB_container
    restart: always
    ports:
      - "27017:27017"
    networks:
      deploy-network:
        ipv4_address: 172.32.0.5 # Assign static IP to DB container
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin


networks:
  deploy-network:
    name: deploy-network
    driver: bridge
    ipam:
      config:
        - subnet: 172.32.0.0/16