<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1559.va_a_533730b_ea_d">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4218.vff679a_5c0f3a_">
    <script>pipeline {
    agent any
    
    environment {
        GITHUB_REPO = &apos;https://github.com/hadabas/prf-konyvklub.git&apos;
        BRANCH = &apos;devops&apos;
        CLIENT_CONTAINER = &apos;client_container&apos;
        SERVER_CONTAINER = &apos;server_container&apos;
    }
    
    stages {
        stage (&apos;Kliens Build &amp; Deploy&apos;) {
            steps {
                echo &apos;Kliens Deployolás folyamatban..&apos;
                sshagent(credentials: [&apos;jenkins-deploy-key&apos;]) {
                    sh &quot;&quot;&quot;
                        ssh -o StrictHostKeyChecking=no deploy@${env.CLIENT_CONTAINER} -p 22 &apos;
                            sudo /usr/sbin/rsyslogd
                            cd /app
                            rm -rf *
                            git clone ${env.GITHUB_REPO}
                            cd /app/prf-konyvklub/
                            git checkout origin/devops
                            cd client
                            npm install
                            pm2 start &quot;ng serve --host 0.0.0.0 --port 4200 --disable-host-check&quot; --name Client --output /var/log/pm2/out.log --error /var/log/pm2/error.log
                    &apos;
                    &quot;&quot;&quot;
                }
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>